@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    /*default margin and padding applied by the browser*/
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    background-color: skyblue;
    /*#FA8072 salmon pink*/
}
.container > h3{
margin-bottom: 15px;
color:darkgoldenrod ;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container .counter {
    background-color: white;
    padding: 2.5rem;
    border-radius: 1rem;

}

.container .counter p {
    text-align: center;
    /**/
    font-size: 10rem;
    font-weight: 300;
    line-height: 1;
}


.buttons {
    text-align: center;
    margin-top: 2rem;
}

.buttons button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.buttons button#add {
    background-color: greenyellow;
    color: white;

}

.buttons button#sub {
    background-color: #FA8072;
    color: white;

}

.container h1 {
    padding: 1rem;
}
